<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="rod_length" value="0.22"/>
    <xacro:property name="rod_width" value="0.01"/>


    <xacro:macro name="standoff" params="standoff_name">
            
        <link name="${standoff_name}">
            <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
                    <cylinder length="${rod_length}" radius="${rod_width}"/>
                </geometry>
                <material name="red"/>
            </visual>

            <collision>
                <geometry>
                    <cylinder length="${rod_length}" radius="${rod_width}"/>
                </geometry>
            </collision>

            <inertial>
                <mass value="0.1"/>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <inertia ixx="0.00040583333333333335" ixy="0" ixz="0" iyy="0.00040583333333333335" iyz="0" izz="0.000005"/>
            </inertial>

        </link>


    </xacro:macro>


</robot>